{# templates/dj/new.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/new_dj.css') }}">
{% endblock %}

{% block body %}
    <h1>Subscribe a new DJ!</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Save</button>
    {{ form_end(form) }}
    <a href="{{ path('dj_index') }}">Back to list</a>
{% endblock %}